* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
}
 *,
 *:before,
 *:after{ -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

html {
	width: 100%;
	height: 100%;
	min-height: 100%;
	}

body {
	background-color: #dbe3e4;
	font-family: Noto Sans;	
	color: #656565;
	width: 100%;
	height: auto;
	position: relative;
}
 img{
  	width: 100%;
  	width: 100%;
  	height: auto;
  	display: inline-block;
  	vertical-align: middle;
  }
.row-grad{
background: #b5bdc8; /* Old browsers */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

}

/* --- links --- */
	

.menu ul.add-menu li a {
	color:#cecece;
	padding: 0 15px;
	text-decoration: none;
}

.menu ul.add-menu li a.icon-adm:hover {
	padding: 0 15px;
	background: url(../images/adm.png) no-repeat 50% center / 20px 20px;
}

.menu ul.add-menu li a.icon-home:hover {
	padding: 0 15px;
	background: url(../images/home.png) no-repeat 50% center / 20px 20px;
}


/* --- header --- */

.cloud {position: inline-block;}

.logo {
	float: left;
	background: url(../images/logo.gif) no-repeat;
	height:5em;
	padding: 0.625em;
}

.contacts{
	position: relative;
	float: right;
	bottom: 0;
	right: 0;
	height: 5em;
	padding: 0.625em;
	margin-top: -1.6em;

}

.phonenumber{
	display: inline-block;
	float: left;
	position: relative;
	width: 100%;
	text-align: right;
}

span.code {
	display: inline-block;
	font-size: 1.2em;
	color: #656565;
	font-size: 1.2em;
}

span.number {
	display: inline-block;
	font-size: 2.2em;
	color: #3A2929;			
}

.contact {
	width: 100%;
	position: relative;
	float: left;
	display:inline-block;
	padding-right: 0;
	font-size: 1.2em;
	text-align: right;
	color: #656565;
}



.nav {
    list-style-type: none;
	font-family: 'Noto Sans', sans-serif;
	display: inline-block;
	float: left;
	text-align: center;
	padding-left: 25px;
}

.nav li {
	margin-top: 5px;
    padding: 0;
}
.nav li a {
    color: #CECECE;
    display: block;
    float: left;
    font-size: 110%;
    font-weight: bold;
   	margin: 10px;
	width:auto;
    padding: 15px;
    text-decoration: none;
  
}
.nav li .active, .nav li a:hover{
	color: #ffffff;
	background: #28343b;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=0 ); 
	border-radius:4px;
	width: auto;
}

.add-menu {
    display: inline-block;
    float: right;
    text-align: center;
    font-family: 'Noto Sans',sans-serif;
    list-style-type: none;
    padding: 23px 20px 23px 0;
}
.add-menu li {
    display: inline;
    padding: 0;
}
.add-menu li a {
    display: block;
    float: left;
    margin: 0 10px;
    padding: 10px;
}


.icon-home {
	background: url(../images/home.png) no-repeat 50% center / 1em 1em;
}

.icon-adm {
	background: url(../images/adm.png) no-repeat 50% center / 1em 1em;
}
/* --- content --- */

.content {
padding: 0 0 2em 0;


}

.slider {
	background: url(../images/header.jpg) no-repeat;
	background-size: 100%;
	height: auto!important;
}

/* --- footer --- */

.footer {

	position:relative; 
	bottom: 0;
	text-align: center;
	width: 100%;
	min-width: 100%;
	background: #424242;
}

.footer-text {
	text-align: center;
	padding: 8px 0;
	color: #ffffff;
}

.footer-menu{
	background-color: #c2c2c2;
}


.footer-menu li {
	display: inline-block;
	padding: 10px;
}

.f-cloud {position: relative;
	display: block;}

.f-contacts{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px 20px;
}
ul.footer-menu li a {
	color:#656565;
	padding: 0 5px;
	text-decoration: none;
}

ul.footer-menu li a:hover, ul.footer-menu li a.f-active {
	color: #3A2929;
	padding: 0 5px;
	text-decoration: none;
}

span.f-call, span.f-code {
	display: inline-block;
	color: #656565;
}

span.f-number {
	display: inline-block;
	color: #3A2929;			
}

.column{
	position: relative;
	width: 100%;
	float: left;
	color: #000;
	text-align:left; ;
	display:inline-block;
	padding: 2em 2em 0 2em;
}
	
.width-33{
	position: relative;
	width: 33.33333%;
		
}
	
.width-50{
	position: relative;
	width: 50%;
}
	
.row {
	width: 100%;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	*zoom:1;
}

.row:before, .row:after{
	content: " ";
	display: table;
}

.row:after{
	clear: both;
}

.row .column,
.row .columns{
	position: relative;
	float: left; 
}

.row .row{
	width: auto;	
	margin: 0 -0.5em;
	*zoom:1;
}

.row .row:before, .row .row:after{
	content: " ";
	display: table;
}

.row .row:after{
	clear: both;
}
