* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
}

html {
	width: 100%;
	height: 100%;
	min-height: 100%;
	}

body {
	background-color: #dbe3e4;
	font-family: Noto Sans;	
	color: #656565;
	min-width: 100%;
	min-height: 100%;
	height: auto !important;
	position: relative;
}
.row-grad{
background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

}

/* --- links --- */
	

.menu ul.add-menu li a {
	color:#cecece;
	padding: 0 15px;
	text-decoration: none;
}

.menu ul.add-menu li a.icon-adm:hover {
	padding: 0 15px;
	background: url(../images/adm.png) no-repeat 50% center / 20px 20px;
}

.menu ul.add-menu li a.icon-home:hover {
	padding: 0 15px;
	background: url(../images/home.png) no-repeat 50% center / 20px 20px;
}


/* --- header --- */

.cloud {position: inline-block;}

.logo {
	float: left;
	background: url(../images/logo.gif) no-repeat;
	height:5em;
	padding: 0.625em;
}

.contacts{
	position: relative;
	float: left;
	bottom: 0;
	right: 0;
	height: 5em;
	padding: 0.625em;
	text-align:right;

}
.phonenumber{
	display: inline-block;
	float: left;
	position: relative;
	width: 100%;
}

span.code {
	display: inline-block;
	font-size: 1.2em;
	color: #656565;
}

span.number {
	display: inline-block;
	font-size: 2.2em;
	color: #3A2929;			
}

.contact {
	width: 100%;
	position: relative;
	float: left;
	display:inline-block;
	padding-right: 0;
	font-size: 1.2em;
	color: #656565;
}
.nav {
    display: inline-block;
    float: left;
    list-style-type: none;
	font-family: 'Noto Sans', sans-serif;
	padding-left: 25px;
}
.nav li {
    display: inline;
    padding: 0;
}
.nav li a {
    color: #CECECE;
    display: block;
    float: left;
    font-size: 110%;
    font-weight: bold;
    margin: 10px;
    padding: 15px 25px;
    text-decoration: none;
}
.nav li .active, .nav li a:hover{
	color: #ffffff;
	background: #28343b;
	background: -moz-linear-gradient(top,  #28343b 0%, #828c95 64%, #b5bdc8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28343b), color-stop(64%,#828c95), color-stop(100%,#b5bdc8));
	background: -webkit-linear-gradient(top,  #28343b 0%,#828c95 64%,#b5bdc8 100%);
	background: -o-linear-gradient(top,  #28343b 0%,#828c95 64%,#b5bdc8 100%);
	background: -ms-linear-gradient(top,  #28343b 0%,#828c95 64%,#b5bdc8 100%);
	background: linear-gradient(to bottom,  #28343b 0%,#828c95 64%,#b5bdc8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=0 ); 
	border-radius:4px/20px;
}

.add-menu {
    display: inline-block;
    float: right;
    font-family: 'Noto Sans',sans-serif;
    list-style-type: none;
    padding: 23px 20px 23px 0;
}
.add-menu li {
    display: inline;
    padding: 0;
}
.add-menu li a {
    display: block;
    float: left;
    margin: 0 10px;
    padding: 10px;
	border:1px solid transparent;
	
}
.add-menu li a:hover{
    border:1px solid #FFFFFF;
	border-radius:5px;
}
.content_nav{
	text-align:center;
	margin:0 auto;
	padding:0;
	margin-top:3%;
	list-style-type:none;
	
	}
	
.content_nav div{
	
	display:inline-block;
}
.content_nav  a {
padding:62px 0;
display:inline-block;
    border-radius: 5px;
	behavior:url(css/PIE.htc);
    color: #424242;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 12px;
    text-decoration: none;
    width: 286px;
	background-color:#FFFFFF;
	-webkit-transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;

   
}
.content_nav  a:hover{
   -webkit-transform: scale(1.2);
   transform: scale(1.2);


}
@media only screen and (min-width: 640px){
	.f-cloud {
		display: block;
	}
	.content_nav  a {
	background:#FFFFFF;
	}
}



.icon-home {
	background: url(../images/home.png) no-repeat 50% center / 1em 1em;
}

.icon-adm {
	background: url(../images/adm.png) no-repeat 50% center / 1em 1em;
}
/* --- content --- */

.content {
padding: 0 0 2em 0;


}

.slider {
	background: url(../images/header.jpg) no-repeat;
	background-size: 100%;
	height: auto!important;
}

/* --- footer --- */

.footer {

	position:absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	min-width: 100%;
	background: #424242;
}

.footer-text {
	text-align: center;
	padding: 8px 0;
	color: #ffffff;
	background-image: linear-gradient(bottom, #707070 39%, #9E9E9E 70%, #BAAEA6 85%);
	background-image: -o-linear-gradient(bottom, #707070 39%, #9E9E9E 70%, #BAAEA6 85%);
	background-image: -moz-linear-gradient(bottom, #707070 39%, #9E9E9E 70%, #BAAEA6 85%);
	background-image: -webkit-linear-gradient(bottom, #707070 39%, #9E9E9E 70%, #BAAEA6 85%);
	background-image: -ms-linear-gradient(bottom, #707070 39%, #9E9E9E 70%, #BAAEA6 85%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.39, #707070),
		color-stop(0.7, #9E9E9E),
		color-stop(0.85, #BAAEA6)
	);
}

.footer-menu{
	background-color: #c2c2c2;
}


.footer-menu li {
	display: inline-block;
	padding: 10px;
}

.f-cloud {position: relative;
	display: none;}

.f-contacts{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px 20px;
}
ul.footer-menu li a {
	color:#656565;
	padding: 0 5px;
	text-decoration: none;
}

ul.footer-menu li a:hover, ul.footer-menu li a.f-active {
	color: #3A2929;
	padding: 0 5px;
	text-decoration: none;
}

span.f-call, span.f-code {
	display: inline-block;
	color: #656565;
}

span.f-number {
	display: inline-block;
	color: #3A2929;			
}
.tab-wrap{
width:100%;
}
.table {
    border-radius: 10px 10px 10px 10px;
    border-spacing: 3px 6px;
    display: table;
    margin: 5% auto 0;
    padding: 5px;
    width: 60%;
}
.table-row{
	
	display:table-row;
}
.table-row:hover{
	background-color:#9c9c9c;
	color:#FFFFFF;
}


.table-cell{
	border:1px solid black;
	padding:10px 10px;
	text-align:left;
	display:table-cell;
	color:#3A2929;
}
.caption{
	padding-top:5px;
	padding-bottom:5px;
	margin-right:10px;
	background-color:#BBBBBB;
	text-align:left;
	display:table-cell;
	border:1px solid #CCCCCC;
}

.caption:hover{
	background-color:#BBBBBB;
	color:#3A2929;
}
.pair  {
	background-color:#FFFFFF;
}
.odd {
	background-color:#DCDCDC;
}
.table-cell a{
	padding:5px 0;
	width:100%;
	color:#3A2929;
}

.pencil{
	position:absolute;
	min-width:0;
	left:-20px;
	display:inline;

}
.pencil-wr{
display:inline;
float:right;
    position: relative;
    z-index: 10;
}
#pagilinks, .addhref{
	width:100%;
	padding: 0 20%;
	display:inline-block;
	margin: 1% 0;
}
.pagination{
	list-style-type:none;
	float:left;
	}
.pagination li{
	display:inline;
	}
.pagination li a, .pagination li span {
    background-image: linear-gradient(bottom , #43494E 5%, #8D9191 90%);
	background-image: -o-linear-gradient(bottom , #43494E 5%, #8D9191 90%);
	background-image: -moz-linear-gradient(bottom , #43494E 5%, #8D9191 90%);
	background-image: -webkit-linear-gradient(bottom , #43494E 5%, #8D9191 90%);
	background-image: -ms-linear-gradient(bottom , #43494E 5%, #8D9191 90%);
    border: 1px solid #43494E;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    float: left;
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
	-moz-transition: -moz-transform .2s ease-out; 
	-webkit-transition: -webkit-transform .2s ease-out; 
	-o-transition: -o-transform .2s ease-out; 
    transition: transform .2s ease-out; 
}
.pagination li a:hover, .pagination li span.active{
	  background: #2d2e33;
	  
}
.pagination li a:active{
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	}
.add_button {
    background-image: linear-gradient(bottom , #B2B2B2 5%, #252526 40%, #A7ABAB 90%);
	background-image: -o-linear-gradient(bottom , #B2B2B2 5%, #252526 40%, #A7ABAB 90%);
	background-image: -moz-linear-gradient(bottom , #B2B2B2 5%, #252526 40%, #A7ABAB 90%);
	background-image: -webkit-linear-gradient(bottom , #B2B2B2 5%, #252526 40%, #A7ABAB 90%);
	background-image: -ms-linear-gradient(bottom , #B2B2B2 5%, #252526 40%, #A7ABAB 90%);
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 110%;
    padding: 15px 25px;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
	-moz-transition: -moz-transform .2s ease-out; 
	-webkit-transition: -webkit-transform .2s ease-out; 
	-o-transition: -o-transform .2s ease-out; 
    transition: transform .2s ease-out; 
	
}
.add_button:hover{
	box-shadow: 3px 3px 2px #959595;
	}
.add_button:active{
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	}
@media only screen and (min-width: 640px){
	.f-cloud {
		display: block;
	}
	.footer{
		position:relative;
		bottom:0;
		}
}
